/* 글꼴 지정 */

@font-face{
	font-family:'hanbaekB';
	src:url('../img/HANBAEKB.TTF') format('truetype');
}
@font-face{
	font-family:'hywulm';
	src:url('../img/HYWULM.TTF') format('truetype');
}

body{
	background: fixed;
	margin: 0 0;
 	background-color: #cc0066;
 	color: #FFFFFF; 
 	text-align: center;
 	font-family: hywulm;
}
	#logo{
/*  		border: solid 1px black;  */
	}
	#title{
		font-family: hanbaekB;
		font-size: 2.8em;			/* 1em = 16px */
		padding-top: 50px;
/* 		border: solid 1px black; */
	}
	img{
		padding-top: 15px;
		padding-bottom: 30px;
		width: 70%;
	}
	#content{
		padding-top: 50px;
		padding-bottom: 205px;
		font-size: 1em;
/* 		border: solid 1px black;  */
	}
	.btn-default{
		border: solid 1px #FFFFFF;
	 	border-radius: 20px;
		background-color: #cc0066;
		color: #FFFFFF; 
	}